<?xml version="1.0"?>
<config>
    <modules>
        <Gearx_FastApi>
            <version>1.0.0</version>
        </Gearx_FastApi>
    </modules>
    <global>
        <models>
            <gxapi>
                <class>Gearx_FastApi_Model</class>
            </gxapi>
        </models>
        <helpers>
            <gxapi>
                <class>Gearx_FastApi_Helper</class>
            </gxapi>
        </helpers>
    </global>
    <default>
        <api>
            <gearx>
                <reindex>1</reindex>
            </gearx>
        </api>
    </default>
</config>
