<?xml version="1.0"?>

<!-- Copy this file and rename to fieldmap.xml to define field mapping -->

<fieldmap>

    <!-- DEFINITIONS -->
    <fieldmap_code>
        <external_field_1> magento_field_1 </external_field_1>
        <external_field_2> magento_field_2 </external_field_2>
    </fieldmap_code>

    <!-- EXAMPLE -->
    <example>
        <suggested_retail>msrp</suggested_retail>
        <our_retail>price</our_retail>
        <sale_price>special_price</sale_price>
        <quantity>qty</quantity>
        <tax_id>tax_class_id</tax_id>
        <weight>weight</weight>
        <summary>short_description</summary>
        <description>description</description>
    </example>

</fieldmap>
